
/* styles.css */

/* Reset some default styles */

* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
    background-color: #ebedf2;
    color: #333;
}

h1, h2, h3 {
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    color: #fff;
}


/* Layout styles */

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #1a1a1a;
    color: #080606;
}

/* Typography styles */

p {
    line-height: 1.6;
    font-size: 1.1em;
    text-align: center;
}

/* Button styles */

button {
    background-color: #03c12c;
    color: rgb(8, 7, 8);
    border: none;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}


button:hover {
    background-color: rgb(255, 13, 0);
}

